$backcolr1: #143856;
$backcolr2: #efefef;
$backcolr3: #cabf91;
$backcolr4: rgba(29,51,76,0.95);
$backcolr5: #191c20;
$backcolr6: #131518;

$textcolr1: #7d7d7d;
$textcolr2: #242424;
$textcolr3: #b8b8b8;
$textcolr4: #f3f3f3;

$linktextcolr: #386bb8;

$prevnextcolr1: #a3a3a3;
$prevnextcolr2: #25baa9;


$hovercolr1: #d2b871;
$hovercolr2: #25baa9;
$hovercolr3:  #25baa9;


$boxcolr1: #d8d8d8;
$boxcolr2: #444444;

$iconcolr1: #7f7f7f;
$iconcolr2: #a6cde7;

$profcolr: #5a6470;

$datecolr: #ccbe7e;

$brdcol: #d2d2d2;

$pcolr: #797979;

$rndboxcolr: #163957;

$navtextcolr: #1d1d1d;

$italcolr: #777777;
